<td><img src="{{movie.posterUrl}}" height="50" width="50"></td>
<td>{{movie.title}}</td>
<td>{{movie.year}}</td>
<td>{{movie.rating}} ({{movie.votes}})</td>
<td>{{movie.director}}</td>
<td>{{movie.castShort}}</td>

